<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smart Lender</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'fonts/simple-line-icons.min.css') }} "> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/vanilla-zoom.min.css') }}">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(9, 162, 255, 0.85);background: url(&quot;{{ url_for('static',filename='img/tech/my-family-essay-for-class-1.jpeg') }}&quot;) no-repeat, #000000;border-color: rgb(255,57,116);filter: blur(0px) brightness(100%);background-size: cover, auto;">
            <div class="text" style="font-size: 50px;transform: perspective(650px);">
                <h2></h2>
                <p style="font-size: 50px;transform: perspective(0px) rotate(0deg) scale(1.43);transform-style: preserve-3d;filter: brightness(200%) contrast(200%) grayscale(100%) hue-rotate(360deg) sepia(0%);font-family: 'Source Sans Pro', sans-serif;"><strong>Smart Lender -</strong><br><strong>Applicant Credibility Prediction for Loan Approval</strong><br><br><br></p>
            </div>
        </section>
        <section class="clean-block clean-info dark" style="background: #ffffff;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="background: rgba(13,110,253,0);"><strong>Info</strong></h2>
                    <p style="color: var(--bs-dark);font-weight: bold;width: 11111px;font-family: 'Source Sans Pro', sans-serif;font-size: 25px;background: rgba(13,110,253,0);">Loan prediction is a method of predicting the future value of a loan. It is based on historical data and various other factors such as interest rates, inflation rate, GDP growth etc. The idea behind this is that there are certain trends in the economy which will continue to exist in the future too. This helps us predict how much money we can get back from our loans when they come due.<br><br></p>
                </div>
                <div class="row align-items-center" style="background: rgba(13,123,253,0.12);">
                    <div class="col-md-6" style="background: rgba(13,123,253,0);"><img class="img-thumbnail" src="{{ url_for('static',filename = 'img/scenery/istockphoto-1058480452-612x612.jpg') }}" style="transform: rotate(0deg);"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;font-size: 32px;color: #3b99e0;">Going on loan really benefits you ...<br></h3>
                        <div class="getting-started-info">
                            <p style="font-size: 14.4px;">The first and the most important benefit of personal loan is that unlike home loan it can be used for any purpose. There are no limitations on the end use of the personal loan. You have any urgent requirement of funds; personal loan can be one of the easiest ways to get cash. If you meet the eligibility criteria and have a good credit score, you can get personal loan in 72 hours time. Infact some of the banks provide the facility of online approval of personal loans for existing customers. You don’t have to arrange for any collateral. It is an unsecured loan. Therefore, it is easy to get it.<br></p>
                        </div>
						<a href="detailPage">
						<button class="btn btn-outline-primary btn-lg" type="button" style="text-align: center;transform: rotate(0deg);filter: brightness(93%);">Try Now</button>
						</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features" style="background: rgba(255,165,203,0);">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>Features</strong></h2>
                </div>
                <div class="row justify-content-center" style="font-size: 20px;">
                    <div class="col-md-5 feature-box" style="background: rgba(204,247,170,0.63);"><i class="icon-star icon"></i>
                        <h4 style="color: #3b99e0;">Best Model</h4>
                        <p>It uses the best algorithm that produces better results than any other algorithm&nbsp;<br></p>
                    </div>
                    <div class="col-md-5 feature-box" style="background: rgba(255,193,7,0.13);"><i class="icon-pencil icon"></i>
                        <h4 style="color: #3b99e0;">Easy to use</h4>
                        <p>Minimalistic UI with easy accessibility<br></p>
                    </div>
                    <div class="col-md-5 feature-box" style="background: rgba(101,226,234,0.27);"><i class="icon-screen-smartphone icon"></i>
                        <h4 style="color: #3b99e0;">Responsive</h4>
                        <p>Results that are faster, more precise, and accurate than any other prediction model&nbsp;<br></p>
                    </div>
                    <div class="col-md-5 feature-box" style="background: rgba(255,66,66,0.23);"><i class="icon-refresh icon"></i>
                        <h4 style="color: #3b99e0;">All Browser Compatibility</h4>
                        <p>Works well in any browser</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>About Us</strong></h2>
                </div>
                <div class="row g-0 justify-content-center" style="font-size: 20px;">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card">
                            <div class="card-body info">
                                <h4 class="card-title" style="color: var(--bs-blue);">Balaji T (Team Lead)</h4>
                                <p class="card-text">Mepco Schlenk Engineering College, Sivakasi&nbsp;</p>
                            </div>
                            <div class="card-body info">
                                <h4 class="card-title" style="color: var(--bs-purple);">Anandha Kannan N</h4>
                                <p class="card-text">Mepco Schlenk Engineering College, Sivakasi&nbsp;<br></p>
                            </div>
                            <div class="card-body info">
                                <h4 class="card-title" style="color: var(--bs-pink);">Praveen S</h4>
                                <p class="card-text">Mepco Schlenk Engineering College, Sivakasi&nbsp;<br></p>
                            </div>
                            <div class="card-body info">
                                <h4 class="card-title" style="color: var(--bs-red);">Hariharan C</h4>
                                <p class="card-text">Mepco Schlenk Engineering College, Sivakasi&nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card"></div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>Smart Lender © NaalaiyaThiranProject</p>
        </div>
    </footer>
    <script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{{ url_for('static',filename = 'js/vanilla-zoom.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/theme.js') }}"></script>
</body>

</html>